body {
    background-color: rgb(117, 129, 143);
}

.back {
    background-color: rgb(187, 181, 181);
    height: 68px;
}


.logo {
    text-decoration: none;
    color: rgb(20, 57, 100);
    font-size: 30px;
    font-weight: bold;
    margin: 3px 50px;
    margin-left: 100px;
}

.barbut {
    margin-left: 500px;
}

.item {
    color: rgb(20, 57, 100);
    font-weight: bold;
    font-size: 20px;
    margin-left: 40px;

}

.logo:hover {
    color: black;
}

.item:hover {
    color: rgb(174, 159, 159);
}

.head {
    text-align: center;
    margin-top: 40px;
    background-color: aliceblue;
}

.parentdiv {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 75%;
    column-gap: 15px;
    row-gap: 15px;
}

.block {
    margin-top: 10px;
    margin-left: 20px;
    border-radius: 20px !important;
   
}

.button {
    background-color: rgb(64, 6, 6);
    font-weight: bold;
    color: aliceblue;
}
.Buttonhead{
    text-align: center;
    margin-bottom: 15px;
}

.cart {
    margin-top: 30px;
    background-color: aliceblue;
    border-radius: 30px;
    height: fit-content;
    position: sticky;
    top: 20%;


}

.photo {
    margin-left: 40px;
    height: 250px;

}

.slideImg {
    height: 400px;
    margin-right: 0;
}
.Price{
    font-weight: bold;
    font-size: 30px;
}
.cardhead{
    text-align: center;

}
.cardprice{
    text-align: center;
}
.cardbutton{
    text-align: center;
}
.parentofgrid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 75%;
    column-gap: 30px;
    margin-top: 40px; 
}
.cardofgrid {
    background-color:  aliceblue;
     color: black  ;
    border-radius: 10px;
    text-align: center;
}
.uppic{
   
    border-radius: 10%;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 20px;
    height: 300px;
    padding: auto;
  }
.down{
    background-color: rgb(187, 181, 181);
    margin-top: 70px ;
    height: 220px;
    color: rgb(20, 57, 100);
}
.downheader{
    font-size: 30px;
    font-weight: bold;
}
.buttonfoot {
    background-color: rgb(64, 6, 6);
    font-weight: bold;
    color: aliceblue;

}

.img-text {
    width: 100%;
    height: 200px;
    display: block;
    text-align: center;
    padding: 10% 5%;
    background:  rgb(58, 90, 127);
    color: #fff;
    border-radius: 15px;
}

.img-text h2 {
    font-size: 25px;
    text-transform: uppercase;
}
.single-box {
    position: relative;
    margin-top:  0px;
    
}
 .allinfo{
    display: flex;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
   row-gap: 20px;
   column-gap: 5px;
   margin-top: 15px;
 } 
 .contact{
    background-color:  rgb(255, 252, 252);
    color: black;
    padding: 15px 50px;
    margin-left: 90px;
    margin-right: 30px;
    border-radius: 50px;
    width: 300px;
    height: 100px;
    font-size: small;
    text-align: center;
    
 }
 .myhead{
    font-weight: bold;
    font-size: 30px;

   
 }